<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Weekly Stats</mat-card-title>
    <mat-card-subtitle>Overview of Profit</mat-card-subtitle>
    <div class="m-t-24" style="margin: 0 -5px 0 -27px">
      <apx-chart
        [series]="yearlysaleChart.series"
        [chart]="yearlysaleChart.chart"
        [colors]="yearlysaleChart.colors"
        [plotOptions]="yearlysaleChart.plotOptions"
        [dataLabels]="yearlysaleChart.dataLabels"
        [legend]="yearlysaleChart.legend"
        [grid]="yearlysaleChart.grid"
        [xaxis]="yearlysaleChart.xaxis"
        [yaxis]="yearlysaleChart.yaxis"
        [tooltip]="yearlysaleChart.tooltip"
      ></apx-chart>
    </div>

    <div
      class="d-flex align-items-center justify-content-between m-t-24 b-t-1 p-t-24"
    >
      <div class="d-flex align-items-center">
        <span
          class="text-error bg-light-error rounded icon-48 d-flex align-items-center justify-content-center"
        >
          <i class="iconify f-s-20" data-icon="solar:course-down-linear"></i>
        </span>

        <div class="m-l-12">
          <span class="text-muted f-s-14">Sales</span>
          <h5 class="f-s-15 f-w-700 m-t-4 m-b-0">$36,850</h5>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <span
          class="bg-light-primary text-primary rounded icon-48 d-flex align-items-center justify-content-center"
        >
          <i class="iconify f-s-20" data-icon="solar:chart-linear"></i>
        </span>

        <div class="m-l-12">
          <span class="text-muted f-s-14">Expenses</span>
          <h5 class="f-s-15 f-w-700 m-t-4 m-b-0">$4,720</h5>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
