<mat-card class="cardWithShadow bg-primary text-white">
  <mat-card-content>
    <div class="row">
      <div class="col-sm-7">
        <div class="d-flex flex-col h-100">
          <div class="hstack">
            <div
              class="bg-white rounded icon-48 d-flex align-items-center justify-content-center flex-shrink-0"
            >
              <i
                class="iconify f-s-20 d-flex text-muted"
                data-icon="solar:course-up-outline"
              ></i>
            </div>
            <mat-card-title class="f-s-20 text-nowrap"
              >Welcome Back <br />David</mat-card-title
            >
          </div>
          <div class="row m-t-auto">
            <div class="col-6 border-white-50">
              <span class="op-75 f-s-14">Budget</span>
              <h5 class="m-b-0 text-white f-s-23 m-t-4 f-w-700 lh-md">$98,450</h5>
            </div>
            <div class="col-6">
              <span class="op-75 f-s-14">Expense</span>
              <h5 class="m-b-0 text-white f-s-23 m-t-4 f-w-700 lh-md">$2,440</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 welcome-bg-top">
        <img
          src="/assets/images/backgrounds/welcome-bg.png"
          alt="welcome"
          width="180"
          class="img-fluid welcome-bg"
        />
      </div>
    </div>
  </mat-card-content>
</mat-card>
