<mat-card class="cardWithShadow theme-card">
  <div class="p-24">
    <mat-card-title class="m-b-0">Progress bar</mat-card-title>
  </div>
  <mat-card-content class="b-t-1">

    <app-code-view [isTitle]="true">
      <!-- output view -->
      <h4 Ctitle>
        Determinate
      </h4>
      <div output>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <!-- html view -->
      <div htmlView>
        <pre>
          <code [highlight]="codeForProgressDeterminate"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
      <!-- typescript view -->
      <div tsView>
        <pre>
          <code [highlightAuto]="codeForProgressDeterminateTs"   language="ts"
                lineNumbers></code>
        </pre>
      </div>
    </app-code-view>

    <app-code-view [isTitle]="true">
      <!-- output view -->
      <h4 Ctitle>
        Indeterminate
      </h4>
      <div output>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <!-- html view -->
      <div htmlView>
        <pre>
          <code [highlight]="codeForProgressIndeterminate"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
      <!-- typescript view -->
      <div tsView>
        <pre>
          <code [highlightAuto]="codeForProgressIndeterminateTs"   language="ts"
                lineNumbers></code>
        </pre>
      </div>
    </app-code-view>

    <app-code-view [isTitle]="true">
      <!-- output view -->
      <h4 Ctitle>
        Query
      </h4>
      <div output>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
      <!-- html view -->
      <div htmlView>
        <pre>
          <code [highlight]="codeForProgressQuery"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
      <!-- typescript view -->
      <div tsView>
        <pre>
          <code [highlightAuto]="codeForProgressQueryTs"   language="ts"
                lineNumbers></code>
        </pre>
      </div>
    </app-code-view>

    <app-code-view [isTitle]="true">
      <!-- output view -->
      <h4 Ctitle>
        Buffer
      </h4>
      <div output>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </div>
      <!-- html view -->
      <div htmlView>
        <pre>
          <code [highlight]="codeForProgressBuffer"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
      <!-- typescript view -->
      <div tsView>
        <pre>
          <code [highlightAuto]="codeForProgressBufferTs"   language="ts"
                lineNumbers></code>
        </pre>
      </div>
    </app-code-view>

    <app-code-view [isTitle]="true">
      <!-- output view -->
      <h4 Ctitle>
        Configurable
      </h4>
      <div output>
        <section class="example-section">
          <label class="example-margin">Mode:</label>
          <mat-radio-group [(ngModel)]="mode">
            <mat-radio-button class="example-margin" value="determinate">
              Determinate
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="indeterminate">
              Indeterminate
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="buffer">
              Buffer
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="query">
              Query
            </mat-radio-button>
          </mat-radio-group>
        </section>
    
        @if (mode === 'determinate' || mode === 'buffer') {
          <section class="example-section">
            <label class="example-margin">Progress:</label>
            <mat-slider class="example-margin">
              <input type="range" [(ngModel)]="value" matSliderThumb>
            </mat-slider>
          </section>
        }
        @if (mode === 'buffer') {
          <section class="example-section">
            <label class="example-margin">Buffer:</label>
            <mat-slider class="example-margin">
              <input type="range" [(ngModel)]="bufferValue" matSliderThumb>
            </mat-slider>
          </section>
        }

        <div class="p-24 rounded bg-light-primary m-t-16">
          <h2 class="f-s-16 f-w-600 m-b-16 example-h2">Result</h2>
          <section class="example-section">
            <mat-progress-bar
                class="example-margin"
                [mode]="mode"
                [value]="value"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
          </section>
        </div>
      </div>
      <!-- html view -->
      <div htmlView>
        <pre>
          <code [highlight]="codeForProgressConfigurable"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
      <!-- typescript view -->
      <div tsView>
        <pre>
          <code [highlightAuto]="codeForProgressConfigurableTs"   language="ts"
                lineNumbers></code>
        </pre>
      </div>
    </app-code-view>

  </mat-card-content>
</mat-card>