<div class="d-flex align-items-center m-b-10">
  <button mat-flat-button (click)="getBack()" class="w-30">Back</button>
</div>
<mat-card class="cardWithShadow b-1 rounded p-30">
  <div class="row">
    <div class="col-lg-6">
      <img [src]="product?.imagePath " alt="user" class="rounded w-100" />
    </div>
    <div class="col-lg-6">
      <div class="d-flex align-items-center">
        <span class="bg-success rounded-pill p-x-8 text-white f-s-12">
          {{ product?.status === "Stock" ? "In Stock" : "Out of Stock" }}</span
        >
        <span class="bg-light text-black f-s-12 m-x-10"> Books</span>
      </div>
     
      <h3 class="m-t-10 f-w-600">{{ product?.product_name }}</h3>
      <p class="m-t-1 f-s-14 f-w-500">{{ product.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex arcu, tincidunt bibendum felis' }}</p>

      <div class="d-flex align-items-center">
        <del class="f-s-16 f-w-600">${{ product.base_price }}</del>
        <span class="f-s-20 f-w-600 m-x-2">${{ product.dealPrice || 134}}</span>
        <span class="f-s-14 f-w-600 m-x-5">({{ product.discountPercent || 14 }}% off)</span>
      </div>
      <div class="m-y-24 d-flex ">
        <div class="d-flex gap-4 m-t-5">
        
          @if(product.rating !== undefined){
            @for (star of [1, 2, 3, 4, 5]; track star) {
              <span>
                <i-tabler
                  name="star"
                  class="icon-18 text-warning"
                  [ngClass]="getStarClass(star, product.rating )"
                ></i-tabler>
              </span>
              }
          }
         
        </div>
      
        <a
          href="#"
          class="text-primary f-s-14 f-w-600 text-decoration-none position-absolute m-x-10 m-t-5"
          >236 reviews</a
        >
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center">
        <label class="f-s-16 f-w-600 m-y-30">Colors:</label>
      
        <span 
          class="cards-circle m-x-10"
          [ngClass]="{ 'selected': isSelected }"
          (click)="toggleSelected()"
        >
        @if(isSelected){
          <tabler-icon name="check" class="theme-icon"></tabler-icon>
        }
        
        </span>
      </div>
      
      <div class="d-flex align-items-center m-b-30">
        <label class="f-s-16 f-w-600">QTY:</label>

        <mat-button-toggle-group
          #toggleGroup="matButtonToggleGroup"
          class="border-style m-x-20"
          [(value)]="toggleValue"
          multiple
        >
          <mat-button-toggle
            (click)="decreaseQty(); toggleGroup.value = null"
            disableRipple
          >
            -
          </mat-button-toggle>
          <mat-button-toggle  disableRipple >
            {{ quantity }}
          </mat-button-toggle>
          <mat-button-toggle
            (click)="increaseQty(); toggleGroup.value = null"
            disableRipple
          >
            +
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center gap-20 m-y-20">
        <button mat-flat-button class="p-y-20">Buy Now</button>
        <button mat-flat-button class="bg-error text-white">Add to Card</button>
      </div>
      <p class="m-t-10">
        Dispatched in 2–3 weeks<br />
        <a href="#" class="text-primary text-decoration-none f-s-14 f-w-500"
          >Why the longer time for delivery?</a
        >
      </p>
    </div>
  </div>
</mat-card>
<mat-card class="cardWithShadow b-1 rounded p-30">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    [(selectedIndex)]="selectedTabIndex"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <span [class.text-primary]="selectedTabIndex === 0">Description</span>
      </ng-template>
      <h5 class="f-s-16 f-w-600 m-t-20">
        Sed at diam elit. Vivamus tortor odio, pellentesque eu tincidunt a,
        aliquet sit amet lorem pellentesque eu tincidunt a, aliquet sit amet
        lorem.
      </h5>
      <p class="f-s-14 f-w-400 m-y-30">
        Cras eget elit semper, congue sapien id, pellentesque diam. Nulla
        faucibus diam nec fermentum ullamcorper. Praesent sed ipsum ut augue
        vestibulum malesuada. Duis vitae volutpat odio. Integer sit amet elit ac
        justo sagittis dignissim.
      </p>
      <p class="f-s-14 f-w-400">
        Vivamus quis metus in nunc semper efficitur eget vitae diam. Proin justo
        diam, venenatis sit amet eros in, iaculis auctor magna. Pellentesque sit
        amet accumsan urna, sit amet pretium ipsum. Fusce condimentum venenatis
        mauris et luctus. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia curae.
      </p>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span [class.text-primary]="selectedTabIndex === 1">Reviews</span>
      </ng-template>
      <div class="row m-t-24 gap-0 w-100" >
        <div class="col-lg-4 d-flex">
          <mat-card
            class="cardWithShadow b-1 rounded w-100 h-80 d-flex justify-content-center align-items-center"
          >
            <div class="text-center">
              <h6 class="f-s-14 f-w-500">Average Rating</h6>
              <h6 class="text-primary f-s-30 f-w-600 m-y-24">4/5</h6>
              <div class="d-flex gap-5">
                <span
                  ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
                ></span>
                <span
                  ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
                ></span>
                <span
                  ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
                ></span>
                <span
                  ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
                ></span>
                <span><i-tabler name="star" class="icon-18"></i-tabler></span>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="col-lg-4 d-flex">
          <mat-card class="cardWithShadow b-1 rounded w-100 h-80 p-20">
            @for(rating of ratings; track rating) {
            <div class="d-flex align-items-center gap-1 m-t-10">
              <span class="f-s-14 w-60">{{ rating.label }} Stars</span>
              <mat-progress-bar
                class="progress rounded w-20 m-x-24 m-y-10"
                color="primary"
                mode="determinate"
                [value]="rating.value"
              >
              </mat-progress-bar>
              <span class="count">({{ rating.count }})</span>
            </div>
            }
          </mat-card>
        </div>

        <div class="col-lg-4 d-flex">
          <mat-card
            class="cardWithShadow b-1 rounded w-100 h-80 d-flex align-items-center justify-content-center"
          >
            <button mat-stroked-button class="w-75 bg-light-primary">
              <div class="d-flex align-items-center justify-content-center">
                <tabler-icon name="pencil" class="m-x-6"></tabler-icon>
                <span>Write a Review</span>
              </div>
            </button>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card>
  <h6 class="f-s-24 f-w-600 m-y-15">Related Products</h6>
  <div class="row">
    @for(productcard of productcards; track productcard.title) {
    <div class="col-sm-6 col-lg-3">
      <mat-card class="cardWithShadow productcard overflow-hidden">
        <a routerLink="/widgets/cards">
          <img
            src="{{ productcard.imgSrc }}"
            alt="imgSrc"
            class="w-100"
            mat-card-image
          />
        </a>
        <mat-card-content class="p-b-24 p-t-12 position-relative">
          <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
            productcard.title
          }}</mat-card-title>
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <h6 class="f-s-16 f-w-600">${{ productcard.price }}</h6>
              <span class="f-s-14 m-l-4 text-decoration-line-through"
                >${{ productcard.rprice }}</span
              >
            </div>
            <div class="m-l-auto d-flex gap-4">
              @if(product.rating !== undefined){
                @for (star of [1, 2, 3, 4, 5]; track star) {
                  <span>
                    <i-tabler
                      name="star"
                      class="icon-18 text-warning"
                      [ngClass]="getStarClass(star, product.rating)"
                    ></i-tabler>
                  </span>
                  }
              }
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </div>
</mat-card>
