<div class="row">
  <div class="col-12">
    <app-top-cards></app-top-cards>
  </div>
  <div class="col-lg-8">
    <app-revenue-forecast></app-revenue-forecast>
  </div>
  <div class="col-lg-4">
    <app-annual-profit></app-annual-profit>
  </div>
  <div class="col-lg-5">
    <app-your-performance></app-your-performance>
  </div>
  <div class="col-lg-7">
    <div class="row">
      <div class="col-md-6">
        <app-customers-week></app-customers-week>
      </div>
      <div class="col-md-6">
        <app-sales-overview></app-sales-overview>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <app-revenue-product></app-revenue-product>
  </div>
  <div class="col-lg-4">
    <app-total-settlements></app-total-settlements>
  </div>
</div>

<app-fullcalendar></app-fullcalendar>
