<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-4">
      <div
        class="d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100 h-100 align-items-center">
          <div class="col-lg-9 max-width-form">
            <a [routerLink]="['/']">
              <img
                src="./assets/images/logos/logo-icon.svg"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
            
            <h4 class="f-w-700 f-s-20 m-t-24 m-b-8">Two Step Verification</h4>
          <span class="f-s-14 d-block f-s-14 m-t-24"
            >We sent a verification code to your mobile. Enter the code from the
            mobile in the field below.</span
          >
          <span class="f-w-600 d-block m-t-16">******1234</span>

          <form class="m-t-30 p-t-30">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
              >Type your 6 digits security code</mat-label
            >
            <div class="d-flex align-items-center"></div>
            <div class="row custom-row">
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field
                  appearance="outline"
                  class="w-100"
                  color="primary"
                >
                  <input matInput />
                </mat-form-field>
              </div>
            </div>

            <a
              [routerLink]="['/dashboards/dashboard1']"
              mat-flat-button
              color="primary"
              class="w-100"
            >
              Verify My Account
            </a>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 d-block f-s-14 m-t-24"
            >Didn't get the code?
            <a
              [routerLink]="['/dashboards/dashboard1']"
              class="text-decoration-none text-primary f-w-500"
              >Resend</a
            >
          </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-8 position-relative overflow-hidden bg-dark-200 d-none d-lg-block"
    >
      <div class="circle-top"></div>
      <div>
        <img
          src="/assets/images/logos/logo-icon.svg"
          class="circle-bottom"
          alt="Logo-Dark"
        />
      </div>
      <div class="d-flex align-items-center z-1 position-relative h-n80">
        <div class="row justify-content-center w-100">
          <div class="col-lg-6">
            <h2 class="text-white f-s-40 m-b-16 lh-base">
              Welcome to <br />
              MatDash
            </h2>
            <span class="op-75 f-s-16 text-white d-block m-b-16"
              >MatDash helps developers to build organized and well <br />
              coded dashboards full of beautiful and rich modules.
            </span>
            <button mat-flat-button color="primary">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
