<app-code-view [isTitle]="true">
  <!-- output view -->
  <h4 Ctitle>
    Candlestick Chart
  </h4>
  <div output>
    <apx-chart [series]="candlestickChartOptions.series" [chart]="candlestickChartOptions.chart"
      [xaxis]="candlestickChartOptions.xaxis" [yaxis]="candlestickChartOptions.yaxis"
      [grid]="candlestickChartOptions.grid" [stroke]="candlestickChartOptions.stroke"
      [tooltip]="candlestickChartOptions.tooltip" [plotOptions]="candlestickChartOptions.plotOptions"
      [dataLabels]="candlestickChartOptions.dataLabels" [legend]="candlestickChartOptions.legend"
      [colors]="candlestickChartOptions.colors" [markers]="candlestickChartOptions.markers">
    </apx-chart>
  </div>
  <!-- html view -->
  <div htmlView>
    <pre>
      <code [highlight]="codeForCandlestickChart"
            language="html"
            lineNumbers></code>
    </pre>
  </div>
  <!-- typescript view -->
  <div tsView>
    <pre>
      <code [highlightAuto]="codeForCandlestickChartTs"   language="ts"
            lineNumbers></code>
    </pre>
  </div>
</app-code-view>