<div class="blank-layout-container justify-content-center align-items-center">
  <div
    class="position-relative overflow-hidden auth-bg min-vh-100 h-100 w-100 d-flex align-items-center justify-content-center"
  >
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100 my-5 my-xl-0">
        <div class="col-sm-9 d-flex flex-col justify-content-center">
          <div
            class="bg-white mb-0 rounded auth-login m-auto w-100 overflow-hidden"
          >
            <div class="row gx-0">
              <!-- ------------------------------------------------- -->
              <!-- Part 1 -->
              <!-- ------------------------------------------------- -->
              <div class="col-lg-6 b-r-1 p-r-0">
                <div class="row justify-content-center p-y-24">
                  <div class="col-lg-11">
                    <div class="p-30">
                      <a [routerLink]="['/']">
                        <img
                          src="./assets/images/logos/logo.svg"
                          class="align-middle m-2"
                          alt="logo"
                        />
                      </a>
                      <h4 class="f-w-700 f-s-34 m-t-24 m-b-8 lh-base">
                        Let's get you signed in
                      </h4>

                      <div class="row m-t-24">
                        <div class="col-6">
                          <button mat-stroked-button class="w-100">
                            <div class="d-flex align-items-center">
                              <img
                                src="/assets/images/svgs/google-icon.svg"
                                alt="google"
                                width="16"
                                class="m-r-8"
                              />
                              <span class="d-none d-lg-block m-r-4"
                                >Sign in with </span
                              >
                              Google
                            </div>
                          </button>
                        </div>
                        <div class="col-6">
                          <button
                            mat-stroked-button
                            class="w-100 d-flex align-items-center"
                          >
                            <div class="d-flex align-items-center text-nowrap">
                              <img
                                src="/assets/images/svgs/facebook-icon.svg"
                                alt="facebook"
                                width="40"
                                class="m-r-4"
                              />
                              <span class="d-none d-lg-block m-r-4"
                                >Sign in with </span
                              >
                              Facebook
                            </div>
                          </button>
                        </div>
                      </div>

                      <div class="or-border m-t-30 text-muted">
                        or Sign in with
                      </div>

                      <form
                        class="m-t-30"
                        [formGroup]="form"
                        (ngSubmit)="submit()"
                      >
                        <mat-label
                          class="f-s-14 f-w-600 m-b-12 d-block"
                          >Username</mat-label
                        >
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <input matInput formControlName="uname" />
                          @if(f['uname'].touched && f['uname'].invalid) {
                          <mat-hint class="m-b-16 error-msg">
                            @if(f['uname'].errors &&
                            f['uname'].errors['required']) {
                            <div class="text-error">Name is required.</div>
                            } @if(f['uname'].errors &&
                            f['uname'].errors['minlength']) {
                            <div class="text-error">
                              Name should be 6 character.
                            </div>
                            }
                          </mat-hint>
                          }
                        </mat-form-field>

                        <!-- password -->
                        <div
                          class="d-flex align-items-center justify-content-between m-b-12"
                        >
                          <mat-label
                            class="f-s-14 f-w-600 d-block"
                            >Password</mat-label
                          >
                          <a
                            [routerLink]="['/authentication/boxed-forgot-pwd']"
                            class="text-primary f-w-600 text-decoration-none m-l-auto f-s-12"
                            >Forgot Password ?</a
                          >
                        </div>

                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <input
                            matInput
                            type="password"
                            formControlName="password"
                          />
                          @if(f['password'].touched && f['password'].invalid) {
                          <mat-hint class="m-b-16 error-msg">
                            @if( f['password'].errors &&
                            f['password'].errors['required']) {
                            <div class="text-error">Password is required.</div>
                            }
                          </mat-hint>
                          }
                        </mat-form-field>

                        <div class="m-b-12">
                          <mat-checkbox color="primary"
                            >Keep me logged in</mat-checkbox
                          >
                        </div>
                        <button
                          mat-flat-button
                          color="primary"
                          class="w-100"
                          [disabled]="!form.valid"
                        >
                          Sign In
                        </button>
                        <!-- input -->
                      </form>
                      <span class="d-block f-w-500 d-block m-t-24"
                        >New to Matdash?
                        <a
                          [routerLink]="['/authentication/boxed-register']"
                          class="text-decoration-none text-primary f-w-500 f-s-14"
                        >
                          Create an account</a
                        >
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ------------------------------------------------- -->
              <!-- Part 2 -->
              <!-- ------------------------------------------------- -->
              <div class="col-lg-6 d-none d-lg-block">
                <div
                  class="row justify-content-center align-items-center h-100"
                >
                  <div class="col-lg-9">
                    <div
                      class="d-flex align-items-center justify-content-center w-100 h-100 flex-col gap-9 text-center"
                    >
                      <img
                        src="/assets/images/backgrounds/login-side.png"
                        alt="login-side-img"
                        width="300"
                        class="img-fluid"
                      />
                      <h4 class="mb-0 f-s-22 m-y-20">Feature Rich 3D Charts</h4>
                      <p class="f-s-15 m-b-20 m-t-0 mat-body-1">
                        Donec justo tortor, malesuada vitae faucibus ac,
                        tristique sit amet massa. Aliquam dignissim nec felis
                        quis imperdiet.
                      </p>
                      <button mat-flat-button color="primary">
                        Learn More
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
