<div class="row">
  <div class="col-md-6">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <mat-card-title>Toastr Success</mat-card-title>
        <mat-card-subtitle class="m-b-12">This is the simple toastr with success message</mat-card-subtitle>
        <button (click)="showSuccess()" mat-flat-button class=" bg-success text-white">Toastr Success</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <mat-card-title>Toastr Danger</mat-card-title>
        <mat-card-subtitle class="m-b-12">This is the simple toastr with Danger message</mat-card-subtitle>
        <button (click)="showError()" mat-flat-button class="bg-error text-white">Toastr Danger</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <mat-card-title>Toastr Warning</mat-card-title>
        <mat-card-subtitle class="m-b-12">This is the simple toastr with Warning message</mat-card-subtitle>
        <button (click)="showWarning()" mat-flat-button class="bg-warning text-white">Toastr Warning</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <mat-card-title>Toastr Accent</mat-card-title>
        <mat-card-subtitle class="m-b-12">This is the simple toastr with Accent message</mat-card-subtitle>
        <button (click)="showInfo()" mat-flat-button class="bg-secondary text-white">Toastr Accent</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>