<div class="row">
  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-12">
        <app-welcome-card></app-welcome-card>
      </div>
      <div class="col-sm-6">
        <app-customers></app-customers>
      </div>
      <div class="col-sm-6">
        <app-projects></app-projects>
      </div>
    </div>
  </div>
  <div class="col-lg-7">
    <app-revenue-forecast></app-revenue-forecast>
  </div>
  <div class="col-lg-5">
    <app-your-performance></app-your-performance>
  </div>
  <div class="col-lg-7">
    <div class="row">
      <div class="col-md-6">
        <app-customers-week></app-customers-week>
      </div>
      <div class="col-md-6">
        <app-sales-overview></app-sales-overview>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <app-revenue-product></app-revenue-product>
  </div>
  <div class="col-lg-4">
    <app-total-settlements></app-total-settlements>
  </div>
</div>
