<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Annual Profit</mat-card-title>

    <div class="bg-light-primary rounded m-y-20 overflow-hidden m-b-24">
      <div class="p-24">
        <div class="d-flex align-items-center justify-content-between m-b-10">
          <span class="f-s-14">Conversion Rate</span>
          <h4 class="f-s-28 f-w-600">18.4%</h4>
        </div>
      </div>
      <!-- chart -->
      <apx-chart
        [series]="annualprofitChart.series"
        [chart]="annualprofitChart.chart"
        [stroke]="annualprofitChart.stroke"
        [markers]="annualprofitChart.markers"
        [tooltip]="annualprofitChart.tooltip"
      ></apx-chart>
    </div>

    <div class="d-flex justify-content-between align-items-center p-b-12 b-b-1 m-t-20">
      <div>
        <span class="text-muted f-s-14 f-w-500 d-block">Added to Cart</span>
        <span class="f-s-13 f-w-500 m-t-4">5 clicks</span>
      </div>
      <div class="text-right">
        <h5 class="f-w-700 f-s-15 m-b-4">$21,120.70</h5>
        <span class="text-success f-s-13 f-w-500">+13.2%</span>
      </div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center p-b-12 p-t-12 b-b-1"
    >
      <div>
        <span class="text-muted f-s-14 f-w-500 d-block">Reached to Checkout</span>
        <span class="f-s-13 f-w-500 m-t-4">12 clicks</span>
      </div>
      <div class="text-right">
        <h5 class="f-w-700 f-s-15 m-b-4">$16,100.00</h5>
        <span class="text-error f-s-13 f-w-500">-7.4%</span>
      </div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center p-b-12 p-t-12"
    >
      <div>
        <span class="text-muted f-s-14 f-w-500 d-block">Added to Cart</span>
        <span class="f-s-13 f-w-500 m-t-4">24 views</span>
      </div>
      <div class="text-right">
        <h5 class="f-w-700 f-s-15 m-b-4">$21,120.70</h5>
        <span class="text-success f-s-13 f-w-500">+9.3%</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
