<mat-card class="cardWithShadow bg-primary-gt text-white">
  <mat-card-content class="z-1">
    <div class="row">
      <div class="col-sm-7">
        <div class="d-flex flex-col h-100">
          <div class="hstack">
            <span
              class="d-flex align-items-center badge-custom-dark rounded-sm f-s-14"
            >
              <i
                data-icon="solar:check-circle-line-duotone"
                class="iconify text-white f-s-20 m-r-8"
              ></i>

              <span>This month <span class="f-w-600">+15% Profit</span></span>
            </span>
          </div>
          <div class="m-t-30 p-t-48">
            <h5 class="m-b-0 text-white f-s-23 m-t-4 m-b-4 f-w-700">
              <span class="f-w-400">Hey,</span> David McMichael
            </h5>
            <span class="op-75 f-s-14">Aenean vel libero id metus sollicitudin</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
