<mat-card class="cardWithShadow overflow-hidden">
  <img src="assets/images/backgrounds/blog.jpg" alt="blog-img" />
  <mat-card-header>
    <div>
      <mat-card-title>Figma Tips and Tricks with Stephan</mat-card-title>
      <mat-card-subtitle class=" m-t-4 f-s-15 lh-base"
        >Nullam lobortis sodales dolor vitae viverra. Cras lacinia bibendum
        metus vel rhoncus.</mat-card-subtitle
      >
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex align-items-center gap-8 social-chips">
      <img
        src="assets/images/profile/user-1.jpg"
        alt="user-1"
        class="rounded-circle"
        width="44"
      />
      <img
        src="assets/images/profile/user-2.jpg"
        alt="user-1"
        class="rounded-circle"
        width="44"
      />
      <img
        src="assets/images/profile/user-3.jpg"
        alt="user-1"
        class="rounded-circle"
        width="44"
      />
      <img
        src="assets/images/profile/user-4.jpg"
        alt="user-1"
        class="rounded-circle"
        width="44"
      />
      <span
        class="icon-44 bg-light-primary text-primary rounded-circle d-flex align-items-center justify-content-center text-decoration-none"
        >+8
      </span>
    </div>
  </mat-card-content>
</mat-card>
