@use "sass:map";
@use "@angular/material" as mat;

html.blue_theme {
  --mat-sys-primary: rgb(99, 91, 255);
  --mat-sys-primary-fixed-dim: rgb(99, 91, 255, 0.15);
  --mat-sys-secondary: rgb(22, 205, 199);
  --mat-sys-secondary-fixed-dim: rgb(22, 205, 199, 0.15);
}
