<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Sales from Locations</mat-card-title>
    <mat-card-subtitle>4 top most countries</mat-card-subtitle>

    <div id="current-visitors" style="width: 100%; height: 180px" class="m-b-15 m-t-15"></div>

  </mat-card-content>
  <div class="p-x-30 p-b-30 p-t-15">
    <div class="d-flex align-items-center justify-content-between gap-16">
      <span class="f-w-600 f-s-14">AE</span>
      <mat-progress-bar mode="determinate" value="28"></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">28%</span>
    </div>
    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">AT</span>
      <mat-progress-bar
        mode="determinate"
        color="secondary"
        value="21"
      ></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">21%</span>
    </div>
    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">AU</span>
      <mat-progress-bar
        mode="determinate"
        color="error"
        value="18"
      ></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">18%</span>
    </div>
    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14"> DE</span>
      <mat-progress-bar mode="determinate" value="12"></mat-progress-bar>
      <span class="f-w-600 f-s-14 text-muted">12%</span>
    </div>
  </div>
</mat-card>
